{% extends 'layout.html' %}
{% block content %}
<div class="panel panel-default">

    <div>
        <div class="container-fluid">
            <div style="margin-bottom: 10px"> {#  这里是为了给按钮与表格table有点距1离 #}
                <a class="btn btn-success" href="/user/add/" target="_blank">新增用户</a>
                <a class="btn btn-success" href="/user/model/add/" target="_blank">新增用户ModelForm版</a>
            </div>

            <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          用户列表</div>

      <!-- Table添加一个边框 borderd -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>地区</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>密码</th>
            <th>账户余额</th>
            <th>入职时间</th>
            <th>所属部门</th>
            <th>操作</th>


        </thead>
        <tbody>
        {% for obj in user_list %}
          <tr>
            <th>{{ obj.id }} </th>
            <th>{{ obj.zone }} </th>
            <th>{{ obj.name }} </th>
            <th>{{ obj.age }} </th>
            <th>{{ obj.get_gender_display }} </th>
            <th>{{ obj.password }} </th>
            <th>{{ obj.account }} </th>
            <th>{{ obj.create_time|date:"Y 年 m 月 d 日 H:i:s" }} </th> {# 格式Ymd His分别代表年月日时分秒 #}
            <th>{{ obj.depart.title }} </th>
            <td>
                <a href="#" class="btn btn-primary btn-xs">编辑</a>{# btn-primary和danger是颜色，btn-xs是按钮的大小 #}
                <a href="#" class="btn btn-danger btn-xs">删除</a>
            </td>
          <tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
        </div>
    </div>
</div>

{% endblock %}
